<div class="w-full max-w-3xl rounded-lg bg-white py-5 px-8 text-center dark:bg-boxdark md:py-5 md:px-17.5">
  <div class="mx-auto mb-5 w-full max-w-60 py-6 px-4 text-center ">
    <%= image_tag("template/logo/logo-dark.svg", alt:"Logo") %>
  </div>
  <h3 class="pb-2 text-xl font-bold text-black dark:text-white sm:text-2xl">
    Confirmation instructions
  </h3>
  <span class="mx-auto mb-6 inline-block h-1 w-22.5 rounded bg-primary"></span>
  <p class="mb-10 font-medium">
    You can confirm your account email through the link below:
  </p>
  <div class="-mx-3 flex flex-wrap gap-y-4">
    <div class="w-full px-3 max-w-xs mx-auto text-center">
      <button class="block w-full rounded border border-primary bg-primary p-3 text-center font-medium text-white transition hover:bg-opacity-90">
        Confirm my account
      </button>
    </div>
  </div>
</div>
